<% provide(:title, @user.name) %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <section>
          <h4>
            <%= gravatar_for @user %>
            <%= @user.name %>
          </h4>
        </section>
        <section id="stats">
          <%= render 'shared/stats' %>
          <%= render 'follow_form' %>
        </section>
    </div>
    <div class="span5">
      <div class= "col-md-12">
      <% if @user.microposts.any? %>
          <h3>Microposts (<%= @user.microposts.count %>)</h3>
          <ol class="microposts">
            <%= render @microposts %>
          </ol>
      <% end %>
      </div>
      <div class= "col-md-12">
      <% if @user.doc_comments.any? %>
          <h3>Activities (<%= @user.doc_comments.count %>)</h3>
          <ol class="doc_comments">
            <%= render 'doc_comments/doc_feed' %>
          </ol>
      <% end %>
      </div>
    </div>
  </div>
</div>
