<%= form_for @doc, html: { multipart: true} do |f| %>
  <% if @doc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doc.errors.count, "error") %> prohibited this doc from being saved:</h2>

      <ul>
      <% @doc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "title" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "topic" %><br>
    <%= f.collection_select :topic, Doc::TOPICS, :to_s, :to_s, 
       :include_blank => true%>
  </div><br>
  <div class="field">
    <%= f.label "license" %><br>
    <%= f.collection_select :license, Doc::LICENSES, :to_s, :to_s, 
       :include_blank => true%>
  </div><br>
  <div class="field">
    <%= f.label "description" %><br>
    <%= f.text_area  :description, cols: 2, rows: 3 %>
  </div>
  <div container>
  <div class="field">
<%= form_for @doc do |f| %>
  <div>
    <%= f.label :filepicker_url, "Upload Your Doc Here:" %>
    <%= f.filepicker_field :filepicker_url, dragdrop:true, extensions: '.pdf', store_location:"S3", store_access: "public", onchange:'onDocUpload(event)'%>
  </div>
<% end %>
  </div>

<div class="center">
  <button type="submit" name="commit" value="Post" class="btn btn-info btn-circle btn-xl"><i class="glyphicon glyphicon-arrow-up"></i></button>
</div>
<script type="text/javascript"src="//api.filepicker.io/v1/filepicker.js"></script>

<% end %>