<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8 container">
    	<div class="pull-left">
					<h1><span class="pull-left"><%= @doc.title %></span>&nbsp;&nbsp;</h1>
					<span class="label label-inverse"><%= @doc.license%></span>
				<h4>Uploaded by&nbsp;<%= link_to @doc.user.name, @doc.user %>&nbsp;at&nbsp<%= @timestamp %></span></h4>
			</div>
      <iframe src="<%= @doc.filepicker_url %>" id="reader_iframe" frameborder="0"
    style="position: relative; height: 640px; width: 100%;"></iframe>
     	
     	<% if signed_in? %>
     		<div class="col-md-12 pull-right">
	     		<div class="pull-right">
						<%= link_to docs_path ,class: "btn btn-circle btn-large" do %>
				    <i class="glyphicon glyphicon-arrow-left"></i>
						<% end %>
            <% if current_user?(@doc.user) %>
              <%= link_to @doc, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-circle btn-large" do %>
              <i class="glyphicon glyphicon-trash"></i>
              <% end %>
            <% end %>
						<%= link_to edit_doc_path(@doc) ,class: "btn btn-circle btn-large" do %>
				    <i class="glyphicon glyphicon-pencil"></i>
						<% end %>

            
            <% if current_user && current_user.can_vote_for?(@doc) %>
            <%= link_to vote_doc_path(@doc, value: 1), method: "post" ,class: "btn btn-circle btn-large" do %>
                      <i class="glyphicon glyphicon-thumbs-up"></i>
                     <% end %>
                     <%= link_to vote_doc_path(@doc, value: -1), method: "post" ,class: "btn btn-circle btn-large" do %>
                      <i class="glyphicon glyphicon-thumbs-down"></i>
                     <% end %>
            <% end %>
            <%= pluralize @doc.votes, "vote" %>

					</div>
				</div>
				<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#<%="c"+@doc.id.to_s%>"><h3>Comments(<%= @doc.doc_comments.count %>)</h3></button>
  			<div class="collapse" id="<%="c"+@doc.id.to_s%>">
    		<%= render partial: @doc.doc_comments %>
	      	<div>
						<%= form_for [@doc, DocComment.new] do |f| %>
				    <h3>Leave a comment</h3><br/>
				    <%= f.text_area :content , size: "5x10", placeholder: "Say something..." %>
				    <%= f.submit "Comment", class: "btn btn-large btn-primary" %>
						<% end %>
	      	</div>
  			</div>
		</div>
		<div class="span4 col-md-4 side">
			<aside id="aside">	
				<div class="well rdoc">
					<h3>Related Documents</h3>
				</div>
			</aside>
		</div>
	</div>
  </div>
</div>
<% end %>

