<% if signed_in? %>
  <div class="col-md-11">
    <% @favorite_docs.each do |doc| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail shadowlight content block">
        <%= link_to (filepicker_image_tag doc.filepicker_url, w: 300, h: 300 ), doc %>
        <%= pluralize doc.doc_comments.size, 'comments' %>
         <%= link_to root_path ,class: "btn btn-circle" do %>
          <i class="glyphicon glyphicon-thumbs-up"></i>
         <% end %>
         <%= link_to root_path ,class: "btn btn-circle" do %>
          <i class="glyphicon glyphicon-thumbs-down"></i>
         <% end %>
         <% unless current_user.favorite_docs.exists?(id: doc.id) %>
         <%= link_to favorite_docs_path(doc_id: doc), method: :post, class: "btn btn-circle" do %>
          <i class="glyphicon glyphicon-heart-empty"></i>
         <% end %>
         <% else %>
         <%= link_to favorite_doc_path(doc), method: :delete, class: "btn btn-circle" do %>
          <i class="glyphicon glyphicon-heart"></i>
         <% end %>
         <% end %>

         <%#= filepicker_save_button "Save", doc.filepicker_url, "application/pdf" %>
         <button name="button" class="btn btn-circle" type="submit" data-fp-url="<%=doc.filepicker_url%>" data-fp-apikey="AM4zN9zf0Qn6dG3sdRwhDz" data-fp-mimetype="application/pdf"><i class="glyphicon glyphicon-arrow-down"></i></button>
      </div>
      </div>
    <% end %>
    </div>
<% end %>
<div class="col-md-1">
<span class="fab fa-stack fa-2x">
  <i class="fa fa-circle fa-stack-2x fab-backdrop"></i>
  <i class="fa fa-plus fa-stack-1x fa-inverse fab-primary"></i>
  <i class="fa fa-pencil fa-stack-1x fa-inverse fab-secondary"></i>
</span>
</div>
<script>
  $('.fab').click(function() {
    $(this).toggleClass('active');
  });
// Initialize collapse button
  $(".button-collapse").sideNav();
</script>

<div class="center">
<%= will_paginate @favorite_docs %>
</div>
<script type="text/javascript"src="//api.filepicker.io/v1/filepicker.js"></script>