<li>
    <%= link_to gravatar_for(micropost.user), micropost.user %>
  <span class="user">
    <%= link_to micropost.user.name, micropost.user %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
</br>
  <span>
    <%= micropost.content %>
    <% if current_user?(micropost.user) %>
      <%#= link_to "Edit", edit_micropost_path%>
      <%= button_to micropost,method: :delete,
                              data: { confirm: "You sure?" },
                              title: micropost.content ,
                              class: 'btn pull-right' do %>
      <i class="glyphicon glyphicon-trash"></i>
      <% end %>
      <%= link_to edit_micropost_path, class: 'btn pull-right' do %>
      <i class="glyphicon glyphicon-edit"></i>
      <% end %>
  <% end %>
  </span>
</li>
<%#= will_paginate @microposts %>